::-webkit-scrollbar {
  display: none;
}

body {
  text-align: center;
  background-color: #eee;
  color: #222;
  font-family: Garamond, serif;
}

header {
  color: #444;
  font-size: 3rem;
  height: 225px;
}

header a {
  text-decoration: none;
  color: #222;
}

header div {
  display: inline-block;
  vertical-align: middle;
}

header div.logo {
  line-height: 4.25rem;
  width: 10rem;
}

header div.subtext {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: -2rem;
}

.page-body {
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  font-size: 1.3rem;
  padding: 1rem;
  max-height: 600px;
  overflow: auto;

  -webkit-box-shadow: 0px 13px 55px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 13px 55px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 13px 55px 0px rgba(0,0,0,0.5);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
